extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 Project #{project.id + 1}: 
          u #{project.project_name}

        p #{project.description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          each tech in project.technologies
            li #{tech}

        a.glow-on-hover(href=`${project.live_link}`, target="_blank") Live Demo
        a.glow-on-hover(href=`${project.github_link}`, target="_blank") GitHub Repo

    .project-img-box.box

      each url in project.image_urls
        img.project-img(src=`${url}`, alt=`Thumbnail image displaying ${project.project_name} project in action!`)
      
    nav.nav
      a(href='/')
        span &larr;
        |  Back
